<%- include('../layouts/admin/header.ejs') %>


    <!-- main-content -->
    <div class="main-content">
        <!-- main-content-wrap -->
        <div class="main-content-inner">
            <!-- main-content-wrap -->
            <div class="main-content-wrap">
                <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                    <h3>Product List</h3>
                    <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                        <li>
                            <a href="index.html"><div class="text-tiny">Dashboard</div></a>
                        </li>
                        <li>
                            <i class="icon-chevron-right"></i>
                        </li>
                        <li>
                            <a href="#"><div class="text-tiny">Products</div></a>
                        </li>
                        <li>
                            <i class="icon-chevron-right"></i>
                        </li>
                        <li>
                            <div class="text-tiny">Product List</div>
                        </li>
                    </ul>
                </div>
                <!-- product-list -->
                <div class="wg-box">
                    <!-- <div class="title-box">
                        <i class="icon-coffee"></i>
                        <div class="body-text">Tip search by Product ID: Each product is provided with a unique ID, which you can rely on to find the exact product you need.</div>
                    </div> -->
                    <div class="flex items-center justify-between gap10 flex-wrap">
                        <div class="wg-filter flex-grow">
                            <!-- <div class="show">
                                <div class="text-tiny">Showing</div>
                                <div class="select">
                                    <select class="">
                                        <option>10</option>
                                        <option>20</option>
                                        <option>30</option>
                                    </select>
                                </div>
                                <div class="text-tiny">entries</div>
                            </div> -->
                            <form class="form-search">
                                <fieldset class="name">
                                    <input type="text" placeholder="Search here..." class="" name="name" tabindex="2" value="" aria-required="true" required="">
                                </fieldset>
                                <div class="button-submit">
                                    <button class="" type="submit"><i class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <a class="tf-button style-1 w208" href="/admin/addProduct"><i class="icon-plus"></i>Add new</a>
                    </div>
                    <div class="wg-table table-product-list">
                        <ul class="table-title flex gap20 mb-14">
                            <li>
                                <div class="body-title">Product</div>
                            </li>    
                            <li>
                                <div class="body-title">Product Name</div>
                            </li>
                            <li>
                                <div class="body-title">Product ID</div>
                            </li> 
                            <li>
                                <div class="body-title">Price</div>
                            </li>
                            <li>
                                <div class="body-title">Stock</div>
                            </li>
                            <li>
                                <div class="body-title">Brand</div>
                            </li>
                            <li>
                                <div class="body-title">Status</div>
                            </li>
                            <li>
                                <div class="body-title">Catogory</div>
                            </li>
                            <li>
                                <div class="body-title">Action</div>
                            </li>
                        </ul>
                        <ul class="flex flex-column">
                            <% if (products && products.length > 0) { %>
                            <% products.forEach(product => { %>
                            <li class="product-item gap14">
                               
                                <div class="flex items-center justify-between gap20 flex-grow">
                                    <div class="body-text">
                                        <% if (product.images && product.images.length>0 ) { %>
                                            <%product.images.forEach(images =>{%>
                                        <img src="/admin/images/<%= images%>"  alt="<%= product.productName %>">
                                  <% })%>
                                        <% } %>
                                   
                                    </div>
                                    <!-- <div class="name">
                                        <a href="" class="body-title-2"><%= product.productName %></a>
                                    </div> -->
                                    <div class="body-text"><%= product.productName %></div>
                                    <div class="body-text"><%= product._id %></div>
                                    <div class="body-text"><%= product.productPrice %></div>
                                    <div class="body-text"><%= product.stocks %></div>
                                    <div class="body-text"><%= product.productBrand? product.productBrand.brandName : 'No Brand' %></div>
                                    <div>
                                        <div class="block-not-available"><%= product.stocks === 0 ? 'Out of Stock' : product.status %></div>
                                    </div>
                                    <div class="body-text"><%=  product.productCategory.categoryName  %></div>
                                    <div class="list-icon-function">
                                       
                                        
                                        <div class="item edit">
                                            <a href="/admin/editproduct/<%= product._id %>"> <i class="icon-edit-3"></i></a>
                                        </div>
                                       
                                        <form id="blockForm-<%= product._id %>" action="/admin/pblock/<%= product._id %>" method='post'>
                                            <button type="button" class="btn btn-secondary" onclick="confirmBlock('<%= product._id %>', '<%= product.is_blocked %>')">
                                                <%= product.is_blocked ? 'Unhide' : 'Hide' %>
                                            </button>

                                        </form>
                                    
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                        <% }) %>
                        <% } %>
                    </div>
                    <div class="divider"></div>
                    <div class="flex items-center justify-between flex-wrap gap10">
                        <!-- <div class="text-tiny">Showing 10 entries</div> -->
                        <ul class="wg-pagination">
                            <% if (currentPage > 1) { %>
                            <li>
                                <a href="?page=<%= currentPage - 1 %>&limit=10"><i class="icon-chevron-left"></i></a>
                            </li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="<%= currentPage === i ? 'active' : '' %>">
                                <a href="?page=<%= i %>&limit=10"><%= i %></a>
                            </li>
                            <% } %>
                             <% if (currentPage < totalPages) { %>
                            <li>
                                <a href="?page=<%= currentPage + 1 %>&limit=10"><i class="icon-chevron-right"></i></a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <!-- /product-list -->
            </div>
            <!-- /main-content-wrap -->
        </div>
        <!-- /main-content-wrap -->



<%- include('../layouts/admin/footer.ejs') %>
<script>
    function confirmBlock(productId, isBlocked) {
        Swal.fire({
            title: 'Are you sure?',
            text: `Do you really want to ${isBlocked ? 'unhide' : 'hide'} this product?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, do it!'
        }).then((result) => {
            if (result.isConfirmed) {
                setTimeout(()=>{
                    document.getElementById(`blockForm-${productId}`).submit();
                },500)
            }
        });
    }
    </script>