<%- include('../layouts/user/header.ejs') %>



	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Confirmation</h1>
					<nav class="d-flex align-items-center">
						<a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/order-success">Confirmation</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation">Thank you. Your order has been received.</h3>
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Order Info</h4>
						<ul class="list">
							<li><a href="#"><span>Order number</span><%= order.orderId %></a></li>
							<li><a href="#"><span>Date</span> : <%= order.createdAt.toDateString() %></a></li>
							<!-- <li><a href="#"><span>Total</span> : <%= order.total.toFixed(2) %></a></li> -->
							<li><a href="#"><span>Expected Delivery</span> : <%= order.expectedDeliveryDate.toDateString() %></a></li>
							<li><a href="#"><span>Payment method</span> : <%= order.paymentMethod %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Billing Address</h4>
						<ul class="list">
							<li><a href="#"><span>Street</span> : <%= order.address.street %></a></li>
							<li><a href="#"><span>City</span> : <%= order.address.city %></a></li>
							<li><a href="#"><span>State</span> : <%= order.address.state %></a></li>
							<li><a href="#"><span>Postcode </span> : <%= order.address.zip %></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li><a href="#"><span>Street</span> : <%= order.address.street %></a></li>
							<li><a href="#"><span>City</span> : <%= order.address.city %></a></li>
							<li><a href="#"><span>State</span> : <%= order.address.state %></a></li>
							<li><a href="#"><span>Postcode </span> : <%= order.address.zip %></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>

							</tr>
						</thead>
						<tbody>
                            <% order.cartItems.forEach(item => { %>
							<tr>
								<td>
									<p><%= item.productId.productName %></p>
								</td>
								<td>
									<h5>x <%= item.qty %></h5>
								</td>
								<td>
									<p><%= (item.price * item.qty).toFixed(2) %></p>
								</td>
							</tr>
                            <% }) %>
							
							<tr>
								<td>
									<h4>Subtotal</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p><%= order.subtotal.toFixed(2) %></p>
								</td>
							</tr>

							<tr>
								
								<% if (order.coupon && order.coupon.discount) { %>
								<td>
									<h4>Coupon Discount</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>- <%= (order.subtotal * order.coupon.discount / 100).toFixed(2) %></p>
								</td>

							</tr>
							<% } %>
							<tr>
								<td>
									<h4>Shipping</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>Flat rate: <%= order.shipping.toFixed(2) %></p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p><%= order.total.toFixed(2) %></p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
            <div>
                <a class="gray_btn" href="/shop">Continue Shopping</a>
            </div>
		</div>
        
	</section>
	<!--================End Order Details Area =================-->


<%- include('../layouts/user/footer.ejs') %>
